<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"
>
  <hibernate-configuration>
    <session-factory>
      <property name="hibernate.connection.driver_class">
        oracle.jdbc.driver.OracleDriver
      </property>
      
      <!--  DB Dialect -->
      <property name="hibernate.dialect">
        org.hibernate.dialect.Oracle10gdialect
      </property>
      
      <!-- Datasource information (will be different for everyone) -->
      
      <!-- Things that aren't database information -->
      <property name="show_sql">true</property>
      <property name="hibernate.format_sql">true</property>
      
      <!-- Level 2 Cache -->
      <property name="hibernate.cache.use_second_level_cache">true</property>
      
      <!-- Specify caching provider -->
      <property name="hibernate.cache.region.factory_class">
        org.hibernate.cache.ehcache.EhCacheRegionFactory
      </property>
      
      <!-- mappings -->
    </session-factory>
  </hibernate-configuration>